@font-face {
  font-family: "cursive";
  src: url(fonts/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: "java";
  src: url(fonts/Upakarti-yxqe.ttf);
}

body {
  background-color: maroon;
  margin: 0;
  padding: 0;
}

.aboutuscontainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(7, 1, 1, 0.691);
  align-items: center;
  font-family: "cursive";
}

.topnavbar {
  display: flex;
  justify-content: right;
  background-color: maroon;
  padding: 15px;
  gap: 30px;
  border: 2px solid black;
}

.topnavbar a {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: "java", sans-serif;
}

.topnavbar a:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.devinprofile {
  width: 400px;
  height: 700px;
  color: white;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: url(aboutusimg/depbgprof.jpg);
}

.fotodevin img {
  width: 300x;
  height: 300px;
  border-radius: 20px;
  border: 5px solid black;
  display: fit-content;
}

.justinprofile {
  width: 400px;
  height: 700px;
  color: white;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: url(aboutusimg/depbgprof.jpg);
}

.fotojustin img {
  width: 300x;
  height: 300px;
  border-radius: 20px;
  border: 5px solid black;
}

.selfdesc {
  margin-top: 10px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: maroon;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid black;
}

.contacts {
  margin-top: 10px;
  width: 280px;
  background: maroon;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 3px solid black;
}

.iglink,
.wanum {
  color: white;
  display: inline-block;
  background-color: rgb(141, 77, 21);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 8px;
  border-radius: 10px;
  width: fit-content;
  margin: 10px auto;
}

.iglink:hover,
.wanum:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.commentcontainer {
  width: 100%;
  display: flex;
  background-color: rgba(7, 1, 1, 0.691);
  justify-content: center;
  font-family: "cursive";
}
.commentcontainer h1 {
  margin: 0;
}
.commentcontainer h2 {
  margin: 5px;
  margin-bottom: 25px;
}

.commentbox {
  border: 3px solid white;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  color: white;
  background-color: maroon;
  display: grid;
  width: 500px;
  text-align: center;
  padding: 15px;
}

.kolomkomenbox {
  border-radius: 15px;
  background-color: rgb(141, 77, 21);
  align-items: start;
  margin: 5px;
  margin-top: 25px;
}

.komen {
  border-left: 10px solid maroon;
  background: #f9f9f9;
  text-align: start;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.komen .info {
  font-size: 12px;
  color: rgb(36, 36, 36);
  margin-bottom: 5px;
}

.fiturkomen {
  display: flex;
  margin: 0;
  margin-top: 5px;
  gap: 5px;
}
.komenbtn {
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 6px;
  cursor: pointer;
    background-color: maroon;

}

.komen .isikomen {
  font-size: 15px;
  color: black;
}

input,
textarea,
button {
  width: calc(100%-10px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: "cursive";
  transition: 250ms;
}

.commentbox button:hover {
  background-color: rgb(162, 103, 51);
  transform: scale(1.01);
}

textarea {
  resize: none;
}

button {
  background: rgb(141, 77, 21);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: rgb(155, 100, 52);
}
